 body {
  margin: 0;
  height: 100vh; /* Занимает 100% высоты экрана */
  background: linear-gradient(to top, #224b5aa1, #ffffff);
  display: flex;
 /* align-items: center;
  justify-content: center;*/
}


* {
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
}

div {
    width: 360px;
    height: 460px;
    transform: scale(1.5);
    transform-origin: 0 0;
}

.tetris {
    position: absolute;
    top: 20px;
    left: 10px;
    font-family: 'Aclonica';
    font-size: 28px;
    /*color: teal;*/
}

.by {
    position: absolute;
    top: 40px;
    left: 185px;
    font-size: 12px;
}

.img-circle {
    position: absolute;
    top: 5px;
    left: 305px;
    height: 50px;
    width: 50px;
    border: 1px solid #000000;
    border-radius: 50%;
}

.maincanvas {
    position: absolute;
    top: 56px;
    left: 8px;
    display: block;
    border: 2px solid #000000;
   /* background: white;*/
}

.subcanvas {
    position: absolute;
    top: 210px;
    left: 255px;
    display: block;
    border: 2px solid #000000;
}

.labelscore {
    position: absolute;
    top: 60px;
    left: 255px;
    padding: 0;
    border: none;
    text-align: left;
    font-weight: bold;
}

.score {
    position: absolute;
    top: 80px;
    left: 255px;
    padding: 0;
    width: 100px;
    height: 45px;
    border: 2px solid #000000;
    background: #eee;
    text-align: center;
    vertical-align: middle;
    line-height: 45px;
    font-weight: bold;
    font-size: 28px;
    color: #000000;
}

.labellevel {
    position: absolute;
    top: 125px;
    left: 255px;
    padding: 0;
    border: none;
    text-align: left;
    font-weight: bold;
}

.level {
    position: absolute;
    top: 145px;
    left: 255px;
    padding: 0;
    width: 100px;
    height: 45px;
    border: 2px solid #000000;
    background: #eee;
    text-align: center;
    vertical-align: middle;
    line-height: 45px;
    font-weight: bold;
    font-size: 28px;
    color: #000000;
}

.next {
    position: absolute;
    top: 190px;
    left: 255px;
    padding: 0;
    border:none;
    text-align: left;
}

.left {
    position: absolute;
    top: 320px;
    left: 255px;
    padding: 0;
    width: 45px;
    height: 40px;
    border: 2px solid #000000;
    background: #ffffff;
    text-align: center;
    font-size: 25px;
    vertical-align: middle;
    line-height: 40px;
}

.right {
    position: absolute;
    top: 320px;
    left: 310px;
    padding: 0;
    width: 45px;
    height: 40px;
    border: 2px solid #000000;
    background: #ffffff;
    text-align: center;
    font-size: 25px;
    vertical-align: middle;
    line-height: 40px;
}

.rotate {
    position: absolute;
    top: 370px;
    left: 310px;
    padding: 0;
    width: 45px;
    height: 40px;
    border: 2px solid #000000;
    background: #ffffff;
    text-align: center;
    font-size: 25px;
    vertical-align: middle;
    line-height: 40px;
}

.down {
    position: absolute;
    top: 420px;
    left: 255px;
    padding: 0;
    width: 100px;
    height: 40px;
    border: 2px solid #000000;
    background: #ffffff;
    text-align: center;
    font-size: 25px;
    vertical-align: middle;
    line-height: 40px;
}

.rotatealt {
    position: absolute;
    top: 370px;
    left: 255px;
    padding: 0;
    width: 45px;
    height: 40px;
    border: 2px solid #000000;
    background: #ffffff;
    text-align: center;
    font-size: 25px;
    vertical-align: middle;
    line-height: 40px;
}

label:active {
    background-color: #eee;
}
p {
  font-size: 24px;
  background: linear-gradient(90deg, black, #9b8c06, black, #9b8c06, black);background-size: 200% 200%;
  animation: colorShift 5s infinite;
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
  
}
@keyframes colorShift {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

h1 {
  animation: colorChange 2s infinite; /* Пример анимации изменения цвета в течение 2 секунд, бесконечно повторяется */
  text-shadow: 0px 0px 5px #0000; /* Начальная тень: отсутствует */
}

@keyframes colorChange {
  0% {
    color: white; /* Начальный цвет текста */
    text-shadow: 0px 0px 5px #000000; /* Начальная тень: отсутствует */
  }
  50% {
    color: #05507c; /* Цвет текста через половину времени анимации */
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Тень через половину времени анимации */
  }
  100% {
    color: white; /* Конечный цвет текста, возвращаемся к начальному состоянию */
    text-shadow: 0px 0px 5px #000000; /* Конечная тень: отсутствует */
  }
}

#update {
  
  position: absolute;
    top: 5px;
    left: 250px;
    font-size: 12px;
  
}